#Visual Studio Files
*.obj
*.exe
!NuGet.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.cov
*.[Ss]ln.ide
[Bb]in/
!node_modules/**/[Bb]in/
[Oo]bj/
[Hh]elp/
[Dd]ebug*/
[Rr]elease*/
[Tt]argets/
Ankh.NoLoad
App_Readme/

#NuGet
packages/
!packages/repositories.config

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.[Vv]isualState

#Subversion
.svn

# Office Temp Files
~$*

#OS
Thumbs.db

#Others
Simon/Simon.UI.Web/Data
.vs/

#EoF
