<div class="section page-header">
    <h1>Create New Project</h1>
</div>

<div class="section alert alert-danger" role="alert" data-ng-show="ProjectsServices.Error">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <strong>Error!!!</strong> Sorry! Something went wrong.
</div>

<fieldset class="section">
    <legend>New Project Details</legend>
    <form class="contnet" role="form">
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <input class="form-control" id=" name" type="text" data-ng-model="NewProjectDetails.Name" />
            <label class="control-label" for="description">Description</label>
            <input class="form-control" id="description" type="text" data-ng-model="NewProjectDetails.Description" />
        </div>
        <input class="btn btn-primary pull-right" type="button" value="Save" data-ng-click="ProjectsServices.AddProject(NewProjectDetails)" />
    </form>
</fieldset>