/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* other styles */
.body-content {
    margin-top: 60px;
}

a.thumbnail {
    text-decoration: none;
}

    a.thumbnail h4 {
        color: #428bca;
    }

/* item specific */
#loading {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

    #loading img {
        margin: 0 auto;
    }
