<div class="section"
     data-ng-include="'Modules/00_Common/03_Templates/Breadcrumb.html'">
</div>

<div class="section"
     data-ng-include="'Modules/00_Common/03_Templates/Loader.html'"
     data-ng-hide="SettingsServices.Settings">
</div>

<div class="section alert alert-danger" role="alert" data-ng-show="SettingsServices.Error">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <strong>Error!!!</strong> Sorry! Something went wrong.
</div>

<fieldset class="section" data-ng-show="SettingsServices.Settings">
    <legend>Global settings</legend>
    <form class="contnet" role="form">
        <div class="form-group" data-ng-repeat="eachSetting in SettingsServices.Settings">
            <label for="{{eachSetting.Key}}" class="col-md-3 control-label" data-ng-bind="eachSetting.Value.Name"></label>
            <div class="col-md-9 input-group">
                <input id="{{eachSetting.Key}}" type="text" class="form-control" data-ng-model="eachSetting.Value.Value" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" data-ng-click="SettingsServices.DeleteSettings(eachSetting)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>
        <input class="btn btn-primary pull-right" type="button" value="Save Changes" data-ng-click="SettingsServices.UpdateSettings()" />
    </form>
</fieldset>