<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net451" />
  <package id="HangFire.Core" version="0.9.1" targetFramework="net451" />
  <package id="HangFire.Redis" version="0.9.1" targetFramework="net451" />
  <package id="ncrontab" version="1.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.69" targetFramework="net451" />
</packages>