<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Common.Logging" version="2.2.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net451" />
  <package id="CronExpressionDescriptor" version="1.10.1" targetFramework="net451" />
  <package id="HangFire.Autofac" version="1.0.0" targetFramework="net451" />
  <package id="Hangfire.Core" version="1.0.2" targetFramework="net451" />
  <package id="Hangfire.Redis" version="1.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="ncrontab" version="1.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="ServiceStack.Common" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="3.9.69" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.69" targetFramework="net451" />
</packages>