@{
	ViewBag.Title = "Home";
}
<a style="display: none;" class="btn btn-default nav-list-all" href="#projects">Projects</a>
<div class="well">
	<h3>About SIMON</h3>
	<p>
		SIMON stands for SIMple OperatioNs.
	</p>
	<p>
		It is a contentious delivery management application which provides a simple
		yet definitive structure to a software development life cycle.
	</p>
	<p>
		Written by <a href="mailto:mrshridhara@outlook.com">Shridhara Rangaraju</a>
	</p>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Available projects</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-2">Name</th>
				<th class="col-md-7">Description</th>
				<th class="col-md-2">
					<a class="btn btn-default add-new" href="#projects">Add New Project</a>
				</th>
			</tr>
		</thead>
		<tbody id="item-list"></tbody>
	</table>
</div>